html,
body {
  height: 100%;
  margin: 0;
}

.centered-div {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.song-table {
  table-layout: fixed;
  width: 100%;
}

.song-name-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.song-image-container {
  position: relative;
  display: inline-block;
}

.song-image {
  height: 100px;
  width: 100px;
  border-radius: 0.25rem;
  object-fit: cover;
  object-position: top;
}

.play-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.play-overlay:hover {
  opacity: 1;
}

.play-overlay i {
  color: white;
  font-size: 24px;
}

.song-text-container {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
  padding-left: 2rem;
}


.song-text-div {
  overflow: hidden;
  text-overflow: ellipsis;
}

.song-name {
  font-size: 0.9rem;
}

.artist-name {
  font-size: 0.8rem;
  color: gray;
}
.song-album-div {
  white-space: nowrap;

  overflow: hidden;

  text-overflow: ellipsis;
}

.prediction-text {
  font-size: 38px;
  font-family: "Montserrat", sans-serif;
  color: #333;
  text-align: center;
  margin-top: 20px;
}

.genre-reveal {
  font-weight: bold;
  display: inline-block;
  padding-left: 5px;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.centered-text {
  text-align: center;
}

#lyric-text-area {
  height: 100%;
  width: 50%;
  text-align: center;
}

#predictbulb {
  height: 250px;
  width: 250px;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOut 0.5s ease-in-out;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

#button-div {
  display: flex;
  justify-content: center;
  gap: 20px; /* Adjust the gap value to increase or decrease the space between buttons */
  margin-top: 20px;
  margin-bottom: 20px;
}

#predict-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

#predictblub {
  width: 100px; /* Adjust the width of the image */
  height: auto;
  margin-bottom: 10px;
}

.prediction-text {
  margin-bottom: 20px;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.tilt {
  animation: tilt 1s ease-in-out infinite;
}

.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
#spotify-logo {
  height: 50px;
  width: 50px;
  margin: 0 auto;
  display: block;
}

#spotify-logo:hover {
  cursor: pointer;
}

#img-div {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  height: 100vh;
}

#left-div,
#right-div {
  background-color: black;
}

#middle-div {
  background-color: #e2e2e2;
  padding: 20px;
}
