#main-app {
  margin-top: 2rem;
}

html, body {
	height: 100%;
	margin: 0;
  }

.centered-div {
  display: flex;
  justify-content: center;
}

h1{
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#songs-ul {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
  padding: 0;
  margin: 0;
}

.song-li:hover {
  background-color: hsla(240, 3%, 49%, 0.41);
}

.song-li {
  list-style: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Segoe UI";
}

.song-table {
  width: 100%;
  table-layout: fixed;
}

.song-name-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.song-image {
  height: 100px;
  width: 100px;
  border-radius: 0.25rem;
  object-fit: cover;
  object-position: top;
}

.song-text-container {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
  padding-left: 2rem;
}

.song-text-div {
  overflow: hidden;
  text-overflow: ellipsis;
}

.song-name {
  font-size: 0.9rem;
}

.artist-name {
  font-size: 0.8rem;
  color: gray;
}
.song-album-div {
  white-space: nowrap;

  overflow: hidden;

  text-overflow: ellipsis;
}

.prediction-text {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  color: #333;
  text-align: center;
  margin-top: 20px;
  position: relative;
}

.genre-reveal {
  font-size: 36px;
  font-weight: bold;
  color: #f7f33b;
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.centered-text {
  text-align: center;
}

#lyric-text-area {
  height: 100%;
  width: 50%;
  text-align: center;
}


#predictbulb {
  height: 250px;
  width: 250px;
}


@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOut 0.5s ease-in-out;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

#button-div {
  display: flex;
  justify-content: center;
  gap: 20px; /* Adjust the gap value to increase or decrease the space between buttons */
  margin-bottom: 20px;
}

#predict-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

#predictblub {
  width: 100px; /* Adjust the width of the image */
  height: auto;
  margin-bottom: 10px;
}

.prediction-text {
  margin-bottom: 20px;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.tilt {
  animation: tilt 1s ease-in-out infinite;
}

.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
#spotify-logo {
  height: 50px;
  width: 50px;
  margin: 0 auto;
  display: block;
}

#spotify-logo:hover {
	cursor: pointer;
}

#img-div{
	margin-top: 2rem;
	margin-bottom: 3rem;
}

.main-grid {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	height: 100vh;
  }
  
  #left-div, #right-div {
	background-color: black;
  }
  
  #middle-div {
	background-color: white;
	padding: 20px;
  }